{% extends "layout_logged_in.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<h3>Lisää kategoria</h3><br>
<form action="/budgets" method="post" onsubmit="return check(this)">
    Budjetin määrä: <input type="text" name="budget" required>
    Budjetointi kuukausi: <input type="month" name="month">
    <p>Lisätietoja:<br>
        <textarea name="notes" rows="3" cols="40">
        </textarea></p>
    <input type="submit" value="Lisää budjetti">
    </form>
<hr>
<h3>Sinun budjetit:</h3><br>
<ul>
{% for budget in budgets %}
    <li>{{ budget }}
{% endfor %}
{% endif %}{% endblock %}