<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% extends "layout_logged_in.html" %}
{% block title %}Kategoriat{% endblock %}
{% block content %}
{% if session.user_id %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Lisää kategoria</h3>
            <hr>
            <form action="/categories" method="post" onsubmit="return check(this)">
                <div class="col-8">
                    <p>
                        Kategorian nimi: 
                        <input type="text" class="form-control" name="name" required>
                    <p>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <button type="submit" class="btn btn-primary" name="action" value="Lisää kategoria">
                        Lisää kategoria</button>
                </div>
            </form>
            {% if categories %}
            <hr>
            <h3>Sinun kategoriat:</h3><br>
            <ul>
            {% for category in categories %}
                <li>{{ category.name }}
            {% endfor %}
            </ul>
            <hr>
        </div>
        <div class="col-4">
            <h3>Poista kategoria</h3>
            <hr>
            <form action="/categories" method="post">
                <div class="col-8">
                    <p>
                        Kategoria:
                        <select name="category" class="form-control">
                        {% for category in categories %}
                        <option value="{{ category.id }}"> {{ category.name }}
                        {% endfor %}
                        </select>
                    </p>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <button type="submit" class="btn btn-primary" name="action" value="Poista kategoria">
                        Poista kategoria</button>
                </div>
            </form>
            <hr>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function check(form) {
        if (form.name.value.length > 13) {
            alert("Kategorian nimi on liian pitkä");
            return false;
        }
        return true;
    }
</script>
{% endif %}{% endblock %}