{% extends "layout_logged_in.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<h3>Lisää kategoria</h3><br>
<form action="/categories" method="post" onsubmit="return check(this)">
    Kategorian nimi: <input type="text" name="name" required>
    <input type="submit" value="Lisää Kategoria">
    </form>
<hr>
{% if categories %}
<h3>Sinun kategoriat:</h3><br>
<ul>
{% for category in categories %}
    <li>{{ category.name }}
{% endfor %}
</ul>
<script>
    function check(form) {
        if (form.name.value.length > 20) {
            alert("Kategorian nimi on liian pitkä");
            return false;
        }
        return true;
    }
    </script>
{% endif %}{% endif %}{% endblock %}