{% extends "logged_in_layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<p>Hei {{ message }}!</p>
<ul>
    <li><a href="/new_expence">Lisää meno</a>
</ul>
{% if expences_sum %}
<h3>Sinun menosi:</h3><br>
<div style="background:goldenrod;padding:10px;width:200px">
{% for expence in expences %}
{{ expence.name }} [{{ expence.price }}]<br>
{{ expence.date }}<br><hr>
{% endfor %}
</div>
Menojesi summa: {{ expences_sum }}{% endif %}
{% else %}
Et ole kirjautunut sisään!
{% endif %}{% endblock %}