<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<style>
.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    float: left;
    width: 800px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
}
.invisible_box {
    float: left;
    width: 220px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}
.space { margin-top: 250px; }
</style>
{% extends "layout_logged_in.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<h3>Hei {{ message }}!</h3>
<div class="box">
    <div class="invisible_box">
        <h3>Budjetti</h3>
        {% if budget %}
        Tämän kuun budjetti:{{ budget.amount }}
        Jäljellä: {{ budget_remaining }} 
        <ul>
            <li><a href="/budgets">Muuta budjettia</a>
        </ul>
        {% else %}
        <ul>
            <li><a href="/budgets">Lisää budjetti</a>
        </ul>
        {% endif %}
    </div>
    <div class="invisible_box">
        <h3>Hallinnoi menoja</h3>
        <ul>
            <li><a href="/new_expense">Lisää meno</a>
        </ul>
        <ul>
            <li><a href="/view_expenses">Tutki menoja</a>
        </ul>
    </div>
    <div class="invisible_box">
        <h3>Hallinnoi tulevia menoja</h3>
        <ul>
            <li><a href="/new_future_expense">Lisää tuleva meno</a>
        </ul>
        <ul>
            <li><a href="/view_future_expenses">Tutki tulevia menoja</a>
        </ul>
    </div>
</div>
<div class="space"></div>
{% if expenses_sum %}
<hr>
<h3>Sinun menosi tässä kuussa:</h3><br>
    <div class="container">
    {% for expense in expenses %}
        <div style="border:2px solid black;padding:10px;width:160px;
                    text-align:center;">
            <b>{{ expense.name }}</b><br><hr>
            Mennyt: {{ expense.price }}<br>
        </div>
    {% endfor %}
    </div>
<br><hr>
<h3>Menojesi summa tässä kuussa: {{ expenses_sum }}</h3>
{% endif %}
{% else %}
Et ole kirjautunut sisään!
{% endif %}{% endblock %}s