<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<style>
.flex_container {
    display: flex;
    flex-wrap: wrap;
}
.flex_extra_space {
    width: 180px;
    height: 145px;
}
.space { margin-top: 40px; }
</style>
{% extends "layout_logged_in.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Oma etusivusi {{ message }}!</h2>
            <hr>
            {% if expenses_sum %}
            <h3>Sinun menosi tässä kuussa kategoreittain:</h3>
            <br>
                <div class="flex_container">
                {% for expense in expenses %}
                    <div class="flex_extra_space">
                        <div style="text-align:center;
                                    border-radius: 25px;
                                    border: 2px solid #A9A9A9;
                                    padding: 20px;
                                    width: 175px;
                                    height: 140px;">
                            <b>{{ expense.name }}</b>
                            <br>
                            <hr>
                            Mennyt: {{ expense.price }}
                            <br>
                        </div>
                    </div>
                {% endfor %}
                </div>
            <div class="space"></div>
            <p>
                Menojesi summa tässä kuussa: {{ expenses_sum }}
            <hr>
            {% endif %}
        </div>
        <div class="col-4">
            <h3>Budjetti</h3>
            <hr>
            {% if budget %}
            <p>
                Tämän kuun budjetti: {{ budget.amount }}
            <p>
                Budjetista jäljellä: {{ budget_remaining }} 
            <ul>
                <li><a href="/budgets">Muuta budjettia</a>
            </ul>
            {% else %}
            <ul>
                <li><a href="/budgets">Lisää budjetti</a>
            </ul>
            {% endif %}
            <h3>Hallinnoi kategorioita</h3>
            <hr>
            <ul>
                <li><a href="/categories">Kategoriat</a>
            </ul>
            <h3>Hallinnoi menoja</h3>
            <hr>
            <ul>
                <li><a href="/new_expense">Lisää meno</a>
            </ul>
            <ul>
                <li><a href="/view_expenses">Tutki menoja</a>
            </ul>
            <h3>Hallinnoi tulevia menoja</h3>
            <hr>
            <ul>
                <li><a href="/new_future_expense">Lisää tuleva meno</a>
            </ul>
            <ul>
                <li><a href="/view_future_expenses">Tutki tulevia menoja</a>
            </ul>
        </div>
    </div>
</div>
<div class="space"></div>
{% else %}
Et ole kirjautunut sisään!
{% endif %}{% endblock %}s