<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="container"> 
    <div class="col-8">
        <h2>Tervetuloa budjetointisovellukseen!</h2>
        <hr>
        <p>
            Tässä sovelluksessa pystyt hallinnoimaan budjettiasi lisäämällä omia
            seurattavia menoja eri kategorioihin. Kyseiset kategoriat
            pystyt luoda vapaasti itse, riippuen siitä mitä menoja haluat 
            sovelluksessa seurata. Voit lisäksi lisätä sekä normaaleja menoja, 
            että tulevia menoja, jotka eivät vaikuta suoraan budjeteihin.
        <p>
            Voit aloittaa sovelluksen käytön joko luomalla uuden käyttäjän 
            tai kirjautumalla sisään.
        <hr>
    </div>
</div>
{% endblock %}
