{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<form action="/new_expence" method="post">
    Kategoria:
    <p><select name="lang">
    <option value="fi" selected> suomi
    <option value="sv"> ruotsi
    <option value="en"> englanti
    </select></p>
    <p>Hinta:<br>
    <input type="text" name="amount"></p>
    <p>Lisätietoja:<br>
    <textarea name="message" rows="3" cols="40">
    </textarea></p>
    <input type="submit" value="Lähetä">

    </form>
{% endif %}
{% endblock %}