{% if session.user_id %}
<form action="/register" method="post">
    Kieli:
    <select name="lang">
    <option value="fi" selected> suomi
    <option value="sv"> ruotsi
    <option value="en"> englanti
    </select><br>
    Viesti:
    <textarea name="message" rows="3" cols="40"><br>
    </textarea> <br>
    Kieli: <br>
    <input type="radio" name="lang" value="fi" checked> suomi
    <input type="radio" name="lang" value="sv"> ruotsi<br>
    <input type="submit" value="Lähetä"><br>
    </form>
{% endif %}