<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<form action="/register" method="post" onsubmit="return check(this)">
    Tunnus: <input type="text" name="username" required>
    <p>
    Salasana: <input type="password" name="password1" required>
    <p>
    Salasana uudestaan: <input type="password" name="password2" required>
    <p>
    <input type="submit" value="Luo tunnus">
    </form>
<script>
    function check(form) {
        if (form.username.value.length > 20) {
            alert("Tunnus on liian pitkä");
            return false;
        }
        if (form.username.value.length < 4) {
            alert("Tunnus on liian lyhyt");
            return false;
        }
        if (form.password1.value.length > 20) {
            alert("Salasana on liian pitkä");
            return false;
        }
        if (form.password1.value.length < 8) {
            alert("Salasana on liian lyhyt");
            return false;
        }
        return true;
    }
    </script>
{% endblock %}