<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
table { 
   border-collapse: collapse; 
   width: 100%; 
}
th, td { 
   text-align: left; 
   padding: 8px; 
} 
tr:nth-child(even) { 
   background-color: Lightgrey; 
} 
</style>
{% extends "layout_logged_in.html" %}
{% block title %}View Future{% endblock %}
{% block content %}
{% if session.user_id %}
<div class="container"> 
   <div class="col-12">
      <h3>Sinun tulevat menosi:</h3>
      <hr>
      <div class="table-responsive">
         <table class="table">
            <thead>
               <tr>
                  <th scope="col" style="width:18%"></th>
                  <th scope="col" style="width:10%"></th>
                  <th scope="col">Kategoria</th>
                  <th scope="col">Menon hinta</th>
                  <th scope="col">Lisätietoja</th>
               </tr>
            </thead>
            <tbody>
         {% if expenses %}
         {% for expense in expenses %}
            <tr>
               <td>
                  <form action="/move_future_expense?id={{ expense.id }}"
                  method="POST">
                     <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                     <button type="submit" class="btn btn-primary">Siirrä menneeksi</button>
                  </form></td>
               <td>
                  <form action="/delete_future_expense?id={{ expense.id }}"
                  method="POST">
                     <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                     <button type="submit" class="btn btn-primary">Poista</button>
                  </form></td>
               <td>{{ expense.name }}</td>
               <td>{{ expense.price }}</td>
               <td>{{ expense.notes }}</td>
            </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
      <hr>
   </div>
</div>
{% endif %}{% endif %}{% endblock %}